@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Global font setup */
body, h1, h2, p, div {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* Light mode styles */
.light-mode {
  background-color: #f0f0f3;
  color: black;
  .center-div,
  .outside-div {
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.15), 
              inset -10px -10px 20px var(--highlight-color); /* Protruding shadow */
}
}

/* Dark mode styles */
.dark-mode {
  background-color: #3b3b3b;
  color: white;
  .center-div,
  .outside-div {
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.15), 
              inset -10px -10px 20px var(--highlight-color); /* Sunken shadow */
}
}

/* Grid container for layout */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 1fr 300px 1fr;
  height: 100vh;
  width: 100vw;
  gap: 50px; /* Adds padding between elements */
  position: relative;
}

/* Center div styling */
.center-div {
  grid-column: 2;
  grid-row: 2;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: var(--div-background);
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.15),
              inset -10px -10px 20px var(--highlight-color);
  text-align: center;
  transition: height 0.5s ease 0.7s, transform 0.5s ease 0.7s; /* Smooth transition for expansion */
}

/* Expanded styling for center div */
.center-div.expand {
  height: 400px; /* Increase height to accommodate login form */
  transform: translateY(-10%); /* Center vertically */
  /* Align elements to the top for form layout */
  animation-delay: 0.7;
  
}

/* Sunken div styles with animations */
.outside-div {
  background-color: var(--div-background);
  border-radius: 15px;
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.15), 
              inset -10px -10px 20px var(--highlight-color);
  transition: all 0.3s ease;
}

.fade-in {
  opacity: 0; /* Fully visible */
  transition: opacity 0.5s ease-in;
}

/* Fade-out class when showing the login form */
.fade-out {
  opacity: 1; /* Fade out */
  transition: opacity 0.5s ease-out;
}

/* Image inside the left div */
.leftimage-i {
  position: relative;
  transform: scale(1); /* Tilted and enlarged */
  left: -250px; /* Slightly offscreen */
  top: 90px;
  width: auto;
  height: auto;
}

.leftimage-f {
  position: relative;
  transform: scale(1); /* Tilted and enlarged */
  left: -250px; /* Slightly offscreen */
  top: 100px;
  width: auto;
  height: auto;
}

.bottomimage {
  width: auto;
  height: auto;
  transform: rotate(30deg) scale(1); /* Tilt the laptop image */
  position: absolute;
  right: 20px; /* Shift the image slightly offscreen */
  bottom: -100px;
}

.topimage {
  width: auto;
  height: auto;
  position: absolute;
  transform: rotate(10deg) scale(1);
  right: 50px;
  top: -70px;
}

.rightimage {
  width: auto;
  height: auto;
  position: absolute;
  transform: rotate(-10deg) scale(0.85);
  left: -75px;
  top: 40px;
}

/* Toggle Button Styling */
.dark-mode-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s ease;
}

/* Sun Icon - Black in Light Mode */
.icon-sun::before {
  content: "\2600"; /* Unicode for sun */
  color: black; /* Always black in light mode */
  font-size: 24px;
}

/* Moon Icon - Basic Moon Shape */
.icon-moon::before {
  content: "\263E"; /* Unicode for moon (last quarter moon symbol) */
  color: white; /* Always white in dark mode */
  font-size: 24px;
}

/* Light Mode Background and Text Color */
.light-mode .dark-mode-toggle {
  color: black;
}

/* Dark Mode Background and Text Color */
.dark-mode .dark-mode-toggle {
  color: white;
}



/* Left div initial and final states */
.left-div-i {
  grid-column: 1;
  grid-row: 2;
  width: 200px;
  height: 550px;
  justify-self: end;
  align-self: center;
  margin-top: 250px;
  position: relative;
  overflow: hidden;
  opacity: 0;
  animation: slideInFromTop 0.5s forwards;
  animation-delay: 1.9s;
}

.left-div-f {
  grid-column: 1;
  grid-row: 2;
  width: 200px;
  height: 550px;
  justify-self: end;
  align-self: center;
  margin-top: 250px;
  position: relative;
  overflow: hidden;
  animation: slideOutFromTop 0.5s forwards;
  animation-delay: 0.2s;
}

/* Right div initial and final states */
.right-div-i {
  grid-column: 3;
  grid-row: 2;
  width: 200px;
  height: 550px;
  justify-self: start;
  align-self: center;
  overflow: hidden;
  margin-bottom: 250px;
  opacity: 0;
  animation: slideInFromBottom 0.5s forwards;
  animation-delay: 2.1s;
}

.right-div-f {
  grid-column: 3;
  grid-row: 2;
  width: 200px;
  height: 550px;
  justify-self: start;
  align-self: center;
  overflow: hidden;
  margin-bottom: 250px;
  animation: slideOutFromBottom 0.5s forwards;
  animation-delay: 0.1s;
}

/* Top div initial and final states */
.top-div-i {
  grid-column: 2;
  grid-row: 1;
  width: 550px;
  height: 200px;
  justify-self: center;
  align-self: end;
  overflow: hidden;
  margin-right: 250px;
  opacity: 0;
  animation: slideInFromLeft 0.5s forwards;
  animation-delay: 1.5s;
}

.top-div-f {
  grid-column: 2;
  grid-row: 1;
  width: 550px;
  height: 200px;
  justify-self: center;
  align-self: end;
  overflow: hidden;
  margin-right: 250px;
  animation: slideOutFromLeft 0.5s forwards;
  animation-delay: 0.4s;
}

/* Bottom div initial and final states */
.bottom-div-i {
  grid-column: 2;
  grid-row: 3;
  width: 550px;
  height: 200px;
  justify-self: center;
  align-self: start;
  margin-left: 250px;
  overflow: hidden;
  opacity: 0;
  animation: slideInFromRight 0.5s forwards;
  animation-delay: 1.7s;
}

.bottom-div-f {
  grid-column: 2;
  grid-row: 3;
  width: 550px;
  height: 200px;
  justify-self: center;
  align-self: start;
  margin-left: 250px;
  overflow: hidden;
  animation: slideOutFromRight 0.5s forwards;
  animation-delay: 0.3s;
}

.hover-overlay {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--hover-color); /* Dark semi-transparent overlay */
  color:  var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show overlay on hover */
.grid-item:hover .hover-overlay {
  opacity: 1;
}

/* Keyframes for sliding animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutFromLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-10%);
    opacity: 0;
  }
}

@keyframes slideOutFromRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(10%);
    opacity: 0;
  }
}

@keyframes slideOutFromTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10%);
    opacity: 0;
  }
}

@keyframes slideOutFromBottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(10%);
    opacity: 0;
  }
}

/* Sliding animations for text */
.welcome-to-i{
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--text-color);
  margin: 0;
  opacity: 0;
  animation: slideInFromBottom 0.5s forwards;
}

.welcome-to-f{
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--text-color);
  margin: 0;
  opacity: 1;
  animation: slideOutFromBottom 0.5s forwards;
  
}

.asterix-i {
  font-size: 4rem;
  font-weight: 400;
  background: linear-gradient(to right, #8A2BE2, #DDA0DD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  opacity: 0;
  animation: slideInFromBottom 0.5s forwards;
  animation-delay: 0.5s;
}

/* Slide-out animation for "Asterix" */
.asterix-f {
  font-size: 4rem;
  font-weight: 400;
  background: linear-gradient(to right, #8A2BE2, #DDA0DD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  opacity: 1;
  animation: slideOutFromBottom 0.5s forwards;
  animation-delay: 0.5s;
  animation-delay: 0.3;
}

.login-button-home-i {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 8px;
  position: absolute;
  left: 20px;
  top: 45%;
  opacity: 0; /* Start hidden */
  transform: translateY(-10%); /* Initial position for slide in */
  transition: color 0.3s ease, background-color 0.3s ease;
  animation: slideInFromTop 0.5s forwards; /* Slide in animation */
  animation-delay: 1.6s; /* Adjust delay if needed */
}

/* Final state - slide out to the top */
.login-button-home-f {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 8px;
  position: absolute;
  left: 20px;
  top: 45%;
  opacity: 1; /* Start visible */
  transform: translateY(0); /* Starting position for slide out */
  transition: color 0.3s ease, background-color 0.3s ease;
  animation: slideOutFromTop 0.5s forwards; /* Slide out animation */
  animation-delay: 0.4s; /* Adjust delay if needed */
}
/* Variable settings for dark mode and light mode */

/* Initial state - slide in from the top for the cart button */
.cart-i {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 8px;
  position: absolute;
  left: 20px; /* Adjusted to align to the right */
  top: 55%;
  opacity: 0; /* Start hidden */
  transform: translateY(-10%); /* Initial position for slide in */
  transition: color 0.3s ease, background-color 0.3s ease;
  animation: slideInFromTop 0.5s forwards; /* Slide in animation */
  animation-delay: 1.8s; /* Adjust delay if needed */
}

/* Final state - slide out to the top for the cart button */
.cart-f {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 8px;
  position: absolute;
  left: 20px; /* Adjusted to align to the right */
  top: 55%;
  opacity: 1; /* Start visible */
  transform: translateY(0); /* Starting position for slide out */
  transition: color 0.3s ease, background-color 0.3s ease;
  animation: slideOutFromTop 0.5s forwards; /* Slide out animation */
  animation-delay: 0.4s; /* Adjust delay if needed */
}

.home-button-back-i {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 8px;
  position: absolute;
  left: 20px;
  top: 35%;
  opacity: 0; /* Start hidden */
  transform: translateY(-10%); /* Initial position for slide in */
  transition: color 0.3s ease, background-color 0.3s ease;
  animation: slideInFromTop 0.5s forwards; /* Slide in animation */
  animation-delay: 1.4s; /* Adjust delay if needed */
}

/* Final state - slide out to the top */
.home-button-back-f {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 8px;
  position: absolute;
  left: 20px;
  top: 35%;
  opacity: 1; /* Start visible */
  transform: translateY(0); /* Starting position for slide out */
  transition: color 0.3s ease, background-color 0.3s ease;
  animation: slideOutFromTop 0.5s forwards; /* Slide out animation */
  animation-delay: 0.4s; /* Adjust delay for consistency */
}

.light-mode {
  --div-background: #f0f0f3;
  --highlight-color: rgba(255, 255, 255, 0.7);
  --text-color: black;
  --hover-color: rgba(224, 224, 227, 0.7); 
}

.dark-mode {
  --div-background: #3b3b3b;
  --highlight-color: rgba(255, 255, 255, 0.05);
  --text-color: white;
  --hover-color: rgba(74, 74, 74, 0.7);
}

